{% extends "base.html" %} {% block content %}
<main class="container py-5">
  <section class="card card-body">
    <h1 class="display-1 text-center">Django App</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, eaque
      necessitatibus aspernatur exercitationem magni, laudantium voluptatibus
      vel quas veniam illum hic nam corporis. Veniam cum nemo harum placeat
      soluta ut.
    </p>
    <div class=' text-center'>
      <a class = " btn btn-primary bg-secondary" href="/signin/"> Signin </a>
      <a class = " btn btn-primary bg-dark" href="/signup/">Signup</a>
    </div>
  </section>
</main>

{% endblock %}
